.jumbotron-fluid {
  background: url("/img/home.jpg");
}

.navbar {
  box-shadow: 2px 2px 5px #7C398B;
}

.card-form{
  background-color: #7C398B;
}

.discover_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

#discover h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

#discover .card {
  border: 0;
}

#recent_list h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

#testimonial {
  background-color: #EEE;
}
#testimonial h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

#artist h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

#artist h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.bg-black {
  background: #000;
  color: #fff;
}

.port-item {
  width: 30%;
}

.fa-home, .fa-graduation-cap, .fa-envelope, .fa-paint-brush {
  font-size: 2em;
}

.featured-carousel {
    /* width: 100%;
    margin: 0 auto; */
}

.featured-carousel img {
  /* width: 200px;
  height: 200px; */
}
