
$primaryFont: Montserrat, sans-serif;
$primaryFontSize: 40px;
$secondaryFontSize: 30px;

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.jumbotron-fluid {
    background: url("/img/home.jpg");
}

.wrapper {
  background: linear-gradient(270deg, #1e9b41, #a5d22d, #2d4196, #c30a28);
  background-size: 1000% 1000%;
  animation: rainbow 75s ease infinite;
}
@keyframes rainbow {
  0%{background-position: 0% 82%}
  50%{background-position: 100% 50%}
  100%{background-position: 0% 82%}
}

.navbar-brand {
  color: white;
}

.card-form{
  background: linear-gradient(270deg, #1e9b41, #a5d22d, #2d4196, #c30a28);
  background-size: 1000% 1000%;
  animation: rainbow 75s ease infinite;
}
@keyframes rainbow {
  0%{background-position: 0% 82%}
  50%{background-position: 100% 50%}
  100%{background-position: 0% 82%}
}

.discover_title {
  font-family: $primaryFont;
  font-size: $primaryFontSize
}

#discover h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

#discover .card {
  border: 0;
}

#recent_list h3 {
  font-family: $primaryFont;
  font-size: 20px;
}

#testimonial {
  background-color: #EEE;
}

#testimonial h3 {
  font-family: $primaryFont;
  font-size: $secondaryFontSize;
}

#artist h3 {
  font-family: $primaryFont;
  font-size: 20px;
}

#artist h4 {
  font-family: $primaryFont;
  font-size: 25px;
}

.bg-black {
  background: #000;
  color: #fff;
}

.port-item {
  width: 30%;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

#sidebar {
  width: 300px;
  position: absolute;
  ul li {
    padding: 0px 5px;
    border-bottom: 1px solid #EEE;
    font-size: 20px;
  }
  .nav-link {
    color: #000;
  }
}

.main {
  position: absolute;
  left: 300px;
}
