
$primaryFont: Montserrat, sans-serif;
$primaryFontSize: 40px;
$secondaryFontSize: 30px;

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.jumbotron-fluid {
    background: url("/img/home.jpg");
}

.card-form{
  background-color: #7C398B;
}

.discover_title {
  font-family: $primaryFont;
  font-size: $primaryFontSize
}

#discover h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

#discover .card {
  border: 0;
}

#recent_list h3 {
  font-family: $primaryFont;
  font-size: 20px;
}

#testimonial {
  background-color: #EEE;
}

#testimonial h3 {
  font-family: $primaryFont;
  font-size: $secondaryFontSize;
}

#artist h3 {
  font-family: $primaryFont;
  font-size: 20px;
}

#artist h4 {
  font-family: $primaryFont;
  font-size: 25px;
}

.bg-black {
  background: #000;
  color: #fff;
}

.port-item {
  width: 30%;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}
